<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.UserDialogs" version="6.3.10" targetFramework="portable45-net45+win8+wpa81" />
  <package id="CarouselView.FormsPlugin" version="3.1.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="DLToolkit.Forms.Controls.FlowListView" version="2.0.4" targetFramework="portable45-net45+win8+wpa81" />
  <package id="HorizontalListView1.1" version="1.1.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="portable45-net45+win8+wpa81" />
  <package id="modernhttpclient" version="2.4.2" targetFramework="portable45-net45+win8+wpa81" />
  <package id="MvvmCross.Platform" version="4.4.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Plugin.MediaManager" version="0.4.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="rda.SocketsForPCL" version="1.2.2" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Rg.Plugins.Popup" version="1.0.4" targetFramework="portable45-net45+win8+wpa81" />
  <package id="sameerIOTApps.Plugin.SecureStorage" version="1.2.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="SignalR.Client.Portable" version="0.4.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="SlideOverKit" version="2.1.4" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Splat" version="1.6.2" targetFramework="portable45-net45+win8+wpa81" />
  <package id="WebSocket.Portable.Core" version="1.2.6" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Websockets.Pcl" version="1.1.9" targetFramework="portable45-net45+win8+wpa81" developmentDependency="true" />
  <package id="Xam.Plugin.Media" version="2.6.2" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xam.Plugin.SimpleAudioPlayer" version="0.7.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xam.Plugins.Forms.ImageCircle" version="1.8.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.FFImageLoading" version="2.2.9" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.FFImageLoading.Forms" version="2.2.9" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.Forms" version="2.3.4.224" targetFramework="portable45-net45+win8+wpa81" />
</packages>